.login__wrapper {
    height: 100vh;

    display: flex;
    justify-content: flex-end;

    background-image: url('/static/library.jpg');
    background-size: cover;
}

.login__container {
    width: 35%;

    color: var(--color);

    border-left: 1px solid var(--border);
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.4);
}

.login__panel {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__headline {
    margin-bottom: 40px;

    font-size: 40px;
    font-weight: 700;
}

.login__form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.login__field {
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    font-weight: 600;
}

.login__input {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border);
}

.login__field:nth-child(2) {
    margin-bottom: 70px;
}

.login__field-password {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__field-password input {
    display: flex;
    flex: 1;
}

.login__field-eye {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 5px;
    border-bottom: 1px solid var(--border);
}