@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    display: flex;
    flex-direction: column;
    height: 100%;

    font-family: "Raleway", sans-serif;
    background-color: var(--theme-light-background-secondary);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

div::selection,
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection,
strong::selection,
span::selection,
input::selection, 
p::selection {
    background-color: #000;
    color: #fff;
}