:root {
    /* 
    Variable naming
    --class/attribute-property-primary/secondary/tertiary - special variables based on class or attribute
    --property-primary/secondary/tertiary - for variaty of common variables
    --property - for common variables
    */

    /* Most common variables */
    --border: #AAAAAA;
    --color-secondary: #CACACA;
    
    /* Background color variables */
    --theme-light-background-primary: #FFFFFF;
    --theme-light-background-secondary: #E1E8F0;
    --theme-light-border: #FCFBFD;

    --theme-dark-background-primary: #2C2D30;
    --theme-dark-background-secondary: #101010; 
    
    --theme-light-tab-background-active: #F4F4F4;
    --theme-light-tab-filter: invert(88%) sepia(0%) saturate(22%) hue-rotate(216deg) brightness(90%) contrast(101%);

    --theme-dark-tab-background-active: #1A1A1A;
    --theme-dark-tab-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(141deg) brightness(106%) contrast(104%);

    /* Font color variables */
    --theme-dark-color: #ffffff;

    /* Button color variables */
    --button-border-default: #1a1a1a;
    
    --button-background-primary: #000000;
    --button-color-primary: #ffffff;

    --button-background-secondary: #f0f0f0;

    --toggle-theme-button-background-inactive: #CBCBCB;
    --toggle-theme-button-background-active: #31CE3A;
}
