:root {
    /* Background color variables */
    --theme-light-background-primary: #ffffff;
    --theme-light-background-secondary: #fcfbfd;
    --theme-light-border: #fcfbfd;

    /* --theme-dark-backgrould-primary: ; */

    /* Button color variables */
    --button-border-default: #1a1a1a;
    
    --button-background-primary: #000000;
    --button-color-primary: #ffffff;

    --button-background-secondary: #ffffff;
    --button-hover-background-secodary: #f7f7f7;
}
