:root {
    /* 
    Variable naming
    --class/attribute-property-primary/secondary/tertiary - special variables based on class or attribute
    --property-primary/secondary/tertiary - for variaty of common variables
    --property - for common variables
    */

    /* Most common variables */
    --border: #AAAAAA;
    --color-secondary: #CACACA;
    
    /* Background color variables */
    --theme-light-background-primary: #FFFFFF;
    --theme-light-background-secondary: #E1E8F0;
    --theme-light-border: #FCFBFD;

    --theme-light-background-active-tab: #F4F4F4;

    --theme-dark-background-primary: #2C2D30;
    --theme-dark-background-secondary: #101010; 

    /* Font color variables */
    --theme-dark-color: #ffffff;

    /* Button color variables */
    --button-border-default: #1a1a1a;
    
    --button-background-primary: #000000;
    --button-color-primary: #ffffff;

    --button-background-secondary: #f0f0f0;

    --toggle-theme-button-background-inactive: #CBCBCB;
    --toggle-theme-button-background-active: #31CE3A;
}
